# Mothman related ignores
/*/__pycache__/*
/*/__pycache__
/*/__pycache__/
__pycache__/*
__pycache__
__pycache__/
## /OpenMC/*.h5
## OpenMC/*.h5
## /OpenMC/*.h5*
## OpenMC/*.h5*
*/plot_settings.pkl

# ignore vscode garbage
.vscode

# pixi environments ignores
.pixi/*
!.pixi/config.toml
pick.lock
pixi.toml
